.sea_battle_body {
  margin: 10px;


  &_opponent {
    border-collapse: collapse;
    background-color: #ccc;
  }

  td {
    border: 3px solid black;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  span {
    font-weight: bold;
    color: red;
  }
}
.battleField__shield {
  z-index: 1000;
}


