.board {
  display: grid;
  grid-template-columns: repeat(10, minmax(30px, 1fr));
  grid-template-rows: repeat(10, minmax(30px, 1fr));
  grid-gap: 1px;
  margin: 20px;
  padding: 10px;
  border: 2px solid #222;
  background-color: #eee;
  max-width: fit-content;
}