.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}


.gameTitle {
  font-size: 2rem;
  margin-bottom: 30px;
}

.boardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerBoard,
.computerBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.boardTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}