.game{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 164px);
  background-image: url("../../../public/img/ttt/7654330.svg");
  background-size: cover;
}