.wrapper404{
  background-image: url("../public/img/404/404.svg");
  background-size: cover;
  height: calc(100vh - 164px);
  display: flex;
  align-items: center;
  justify-content: center;
  &>.title404 {
    position: fixed;
    z-index: 99;
    font-size: 48px;
    @media screen and (min-width: 1280px) and (max-width: 1600px) {
      font-size: 32px;
    }
  }
}



