.auth {
  background-image: url('../public/img/auth/auth.svg');
  height: calc(100vh - 164px);
  background-repeat: no-repeat;
  justify-content: flex-end;
  display: flex;

  &Form {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 80px 160px;

    .input{
      margin-bottom: 40px;
    }

    .button{
      width: 300px;
      margin: 0 auto;
    }

    .signup{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}