.flipCard {
  background-image: url("../public/img/flipCardsGame/flipCardsBackground.svg");
  height: calc(100% - 164px);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  & > .difficulty {
    width: 600px;
    height: 350px;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    //background-color: #FFD23F;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

    & > p {
      font-size: 36px;
      color: #000;
    }

    .ccb {
      margin: 16px 0;
    }

    & > .buttons {
      width: 100%;
      display: flex;
      justify-content: space-around;
      & > button {
        background: #000;
        color: #f3fcf0;
        font-size: 18px;
        font-weight: 800;
        font-style: normal;
        text-decoration: none;
        height: 50px;
        width: 150px;
        border: 0 solid #000;
        border-radius: 10px;
        display: inline-block;
        box-shadow: 0 0 6px 0 #2D2D2D;

        &:hover {
          background: linear-gradient(to right, #5482d0, #7d5ee3);
        }
      }
    }

    & > .radio {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%;
      font-size: 24px;

    }
  }
}


