.games {
  height: calc(100vh - 142px);
  background-image: url('../public/img/games/gamesbackground.svg');
  background-repeat: no-repeat;
  -webkit-background-size: 100vw calc(100vh - 142px);
  background-size: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 25%;
  font-size: 40px;

  & > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}