.puzzleWrapper{
  background-image: url("../public/img/15puzzle/15puzzle.png");
  height: calc(100vh - 164px);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}