.gameTitle{
  font-size: 24px;
  font-family: 'Grandstander', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 5px 0;
}

.gameDescription{
  font-size: 20px;
  margin: 0;
  padding: 10px;
}

.rulesWrapper{
  height: calc(100vh - 164px);
  overflow-y: auto;
}